# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.example.env

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# IDE / editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
